$main_color1: #06b1a7;
$main_color2: #007f77;
$main_color3: #035a55;

.main-color1 {
  color: $main_color1 !important;
}

.main-color2 {
  color: $main_color2 !important;
}

.main-color3 {
  color: $main_color3 !important;
}
